{% extends 'forge/base.html' %}
{% block title %}Armors in {{ block.super }}{% endblock title %}
{% block content %}
    <h1>{{ armors_count }} 
        {% if armor_type %}{{ armor_type }}{% endif %}
        Armors</h1>
    <div class="armor_type_filter">
        <h3>Available Armor Types</h3>
        <ul>
            {% for filter_armor_type in armor_types %}
                <li class="{% if filter_armor_type == armor_type %}current{% endif %}">{{ filter_armor_type.link_filtered_armors }}</li>
            {% endfor %}
        </ul>
    </div>
    <ul>
        {% for armor in armor_list %}
            <li><a href="{% url 'armor' armor.pk %}">{{ armor.title }}</a> - {{ armor.blacksmith.link }}</li>
        {% endfor %}
    </ul>
{% endblock content %}