{% extends 'forge/base.html' %}
{% block title %}{{ object }}{% endblock title %}
{% block content %}
    <h1>{{ object.title }}</h1>
    <h3>by {{ object.blacksmith.link }}</h3>
    {% if object.armor_type %}
        <p>Armor types:
            {% for armor_type in object.armor_type.all %}
                {{ armor_type.link_filtered_armors }}
            {% endfor %}
        </p>
    {% endif %}
    <div class="summary">
        {{ object.summary }}
    </div>
    <h2>Reviews</h2>
    {% if user.is_authenticated %}
        <div class="review-form">
            <p>If you enjoyed this piece of armor, please leave a review.</p>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <p><button type="submit">Post Review</button></p>
            </form>
        </div>
    {% endif %}
    {% if armor.reviews %}
        {% for review in armor.reviews.all %}
            <div class="armor-review">
                <h4>{{ review.buyer }}
                    <span class="float-right">{{ review.created_at }}</span></h4>
                <p>{{ review.content }}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}